.navbar-container{
    background-color: whitesmoke;
    height: 75px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu ul{ 
    display: flex;
    flex-direction: row;
    list-style: none;}

.menu li{
    margin-right: 20px;
}

.menu a{
    text-decoration: none;
    font-size: large;
}

.logo{ height: 75px;}

.logo img{ height: 75px;}

.carrito{ display: flex;
    align-items: center;}

.counter{
    color: antiquewhite;
    background-color: brown;
    padding: 5px;
    border-radius: 100%;
}

.carrito img{ height: 40px;}

.ItemListContainer{ display: flex;
justify-content: center;
color: brown;}